<header class="pageHeader">
    <nav class="navBar">
        <ul class="navList">
            <li class="navItems">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a>
            </li>
            <li class="navItems">
                <a class="<%= path === '/addBook' ? 'active' : '' %>" href="/addBook">Add Books</a>
            </li>
        </ul>
    </nav>
</header>